<a href="https://colab.research.google.com/github/Precillieo/dsn20/blob/master/LGBM_20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **DSN** **2020**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline 

from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.cluster import KMeans
from sklearn.metrics import mean_squared_error, log_loss, roc_auc_score, accuracy_score
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold, StratifiedKFold, GridSearchCV, train_test_split
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier
from sklearn.model_selection import cross_val_score 

from lightgbm import LGBMClassifier
!pip install catboost
from catboost import CatBoostClassifier
import warnings

Requirement already satisfied: catboost in /usr/local/lib/python3.6/dist-packages (0.24.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.0.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.18.5)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (1.2.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->catboost) (1.3.3)

In [2]:
train= pd.read_csv('/content/drive/My Drive/Bootcamp2020/Train.csv')
test= pd.read_csv("/content/drive/My Drive/Bootcamp2020/Test.csv")

In [3]:
train.head(10)

    Applicant_ID  form_field1  ...  form_field50  default_status
0  Apcnt_1000000       3436.0  ...      0.044335              no
1  Apcnt_1000004       3456.0  ...      0.322436              no
2  Apcnt_1000008       3276.0  ...      0.011640             yes
3  Apcnt_1000012       3372.0  ...      0.082729              no
4  Apcnt_1000016       3370.0  ...      0.045630              no
5  Apcnt_1000020       3724.0  ...           NaN              no
6  Apcnt_1000024       3350.0  ...      0.004390             yes
7  Apcnt_1000028       3416.0  ...      0.128389              no
8  Apcnt_1000036       3376.0  ...      0.009990              no
9  Apcnt_1000040       3310.0  ...           NaN             yes

[10 rows x 52 columns]

In [4]:
test.head()

    Applicant_ID  form_field1  ...  form_field49  form_field50
0  Apcnt_1000032       3236.0  ...      0.000000      0.011221
1  Apcnt_1000048       3284.0  ...      0.504974      0.043525
2  Apcnt_1000052          NaN  ...      0.000000           NaN
3  Apcnt_1000076       3232.0  ...      0.788809      0.104029
4  Apcnt_1000080       3466.0  ...      1.637733      0.163124

[5 rows x 51 columns]

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56000 entries, 0 to 55999
Data columns (total 52 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Applicant_ID    56000 non-null  object
 1   form_field1     53471 non-null  float64
 2   form_field2     52156 non-null  float64
 3   form_field3     55645 non-null  float64
 4   form_field4     55645 non-null  float64
 5   form_field5     55645 non-null  float64
 6   form_field6     42640 non-null  float64
 7   form_field7     50837 non-null  float64
 8   form_field8     42640 non-null  float64
 9   form_field9     47992 non-null  float64
 10  form_field10    55645 non-null  float64
 11  form_field11    24579 non-null  float64
 12  form_field12    46105 non-null  float64
 13  form_field13    50111 non-null  float64
 14  form_field14    56000 non-null  int64
 15  form_field15    33525 non-null  float64
 16  form_field16    42964 non-null  float64
 17  form_field17    44849 non-null  float64
 18  form_field18    45598 non-null  float64
 19  form_field19    55996 non-null  float64
 20  form_field20    55645 non-null  float64
 21  form_field21    40146 non-null  float64
 22  form_field22    35600 non-null  float64
 23  form_field23    27877 non-null  float64
 24  form_field24    42703 non-null  float64
 25  form_field25    50550 non-null  float64
 26  form_field26    48562 non-null  float64
 27  form_field27    46701 non-null  float64
 28  form_field28    55645 non-null  float64
 29  form_field29    55645 non-null  float64
 30  form_field30    30491 non-null  float64
 31  form_field31    16592 non-null  float64
 32  form_field32    50550 non-null  float64
 33  form_field33    54744 non-null  float64
 34  form_field34    55645 non-null  float64
 35  form_field35    32852 non-null  float64
 36  form_field36    54005 non-null  float64
 37  form_field37    50550 non-null  float64
 38  form_field38    55645 non-null  float64
 39  form_field39    51789 non-null  float64
 40  form_field40    12271 non-null  float64
 41  form_field41    17771 non-null  float64
 42  form_field42    54677 non-null  float64
 43  form_field43    55432 non-null  float64
 44  form_field44    50617 non-null  float64
 45  form_field45    24683 non-null  float64
 46  form_field46    40096 non-null  float64
 47  form_field47    56000 non-null  object
 48  form_field48    35111 non-null  float64
 49  form_field49    55645 non-null  float64
 50  form_field50    44944 non-null  float64
 51  default_status  56000 non-null  object
dtypes: float64(48), int64(1), object(3)
memory usage: 22.2+ MB

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24000 entries, 0 to 23999
Data columns (total 51 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Applicant_ID  24000 non-null  object
 1   form_field1   22890 non-null  float64
 2   form_field2   22291 non-null  float64
 3   form_field3   23854 non-null  float64
 4   form_field4   23854 non-null  float64
 5   form_field5   23854 non-null  float64
 6   form_field6   18396 non-null  float64
 7   form_field7   21769 non-null  float64
 8   form_field8   18396 non-null  float64
 9   form_field9   20600 non-null  float64
 10  form_field10  23853 non-null  float64
 11  form_field11  10602 non-null  float64
 12  form_field12  19817 non-null  float64
 13  form_field13  21537 non-null  float64
 14  form_field14  24000 non-null  int64
 15  form_field15  14408 non-null  float64
 16  form_field16  18526 non-null  float64
 17  form_field17  19305 non-null  float64
 18  form_field18  19631 non-null  float64
 19  form_field19  24000 non-null  float64
 20  form_field20  23853 non-null  float64
 21  form_field21  17293 non-null  float64
 22  form_field22  15276 non-null  float64
 23  form_field23  11875 non-null  float64
 24  form_field24  18395 non-null  float64
 25  form_field25  21744 non-null  float64
 26  form_field26  20828 non-null  float64
 27  form_field27  20090 non-null  float64
 28  form_field28  23853 non-null  float64
 29  form_field29  23853 non-null  float64
 30  form_field30  13092 non-null  float64
 31  form_field31  7190 non-null   float64
 32  form_field32  21744 non-null  float64
 33  form_field33  23505 non-null  float64
 34  form_field34  23853 non-null  float64
 35  form_field35  14134 non-null  float64
 36  form_field36  23097 non-null  float64
 37  form_field37  21744 non-null  float64
 38  form_field38  23853 non-null  float64
 39  form_field39  22171 non-null  float64
 40  form_field40  5172 non-null   float64
 41  form_field41  7651 non-null   float64
 42  form_field42  23422 non-null  float64
 43  form_field43  23750 non-null  float64
 44  form_field44  21638 non-null  float64
 45  form_field45  10462 non-null  float64
 46  form_field46  17115 non-null  float64
 47  form_field47  24000 non-null  object
 48  form_field48  15078 non-null  float64
 49  form_field49  23854 non-null  float64
 50  form_field50  19203 non-null  float64
dtypes: float64(48), int64(1), object(2)
memory usage: 9.3+ MB

In [7]:
train.isnull().sum()

Applicant_ID          0
form_field1        2529
form_field2        3844
form_field3         355
form_field4         355
form_field5         355
form_field6       13360
form_field7        5163
form_field8       13360
form_field9        8008
form_field10        355
form_field11      31421
form_field12       9895
form_field13       5889
form_field14          0
form_field15      22475
form_field16      13036
form_field17      11151
form_field18      10402
form_field19          4
form_field20        355
form_field21      15854
form_field22      20400
form_field23      28123
form_field24      13297
form_field25       5450
form_field26       7438
form_field27       9299
form_field28        355
form_field29        355
form_field30      25509
form_field31      39408
form_field32       5450
form_field33       1256
form_field34        355
form_field35      23148
form_field36       1995
form_field37       5450
form_field38        355
form_field39       4211
form_field40      43729
form_field41      38229
form_field42       1323
form_field43        568
form_field44       5383
form_field45      31317
form_field46      15904
form_field47          0
form_field48      20889
form_field49        355
form_field50      11056
default_status        0
dtype: int64

In [8]:
test.isnull().sum()

Applicant_ID        0
form_field1      1110
form_field2      1709
form_field3       146
form_field4       146
form_field5       146
form_field6      5604
form_field7      2231
form_field8      5604
form_field9      3400
form_field10      147
form_field11    13398
form_field12     4183
form_field13     2463
form_field14        0
form_field15     9592
form_field16     5474
form_field17     4695
form_field18     4369
form_field19        0
form_field20      147
form_field21     6707
form_field22     8724
form_field23    12125
form_field24     5605
form_field25     2256
form_field26     3172
form_field27     3910
form_field28      147
form_field29      147
form_field30    10908
form_field31    16810
form_field32     2256
form_field33      495
form_field34      147
form_field35     9866
form_field36      903
form_field37     2256
form_field38      147
form_field39     1829
form_field40    18828
form_field41    16349
form_field42      578
form_field43      250
form_field44     2362
form_field45    13538
form_field46     6885
form_field47        0
form_field48     8922
form_field49      146
form_field50     4797
dtype: int64

In [9]:
train.columns

Index(['Applicant_ID', 'form_field1', 'form_field2', 'form_field3',
       'form_field4', 'form_field5', 'form_field6', 'form_field7',
       'form_field8', 'form_field9', 'form_field10', 'form_field11',
       'form_field12', 'form_field13', 'form_field14', 'form_field15',
       'form_field16', 'form_field17', 'form_field18', 'form_field19',
       'form_field20', 'form_field21', 'form_field22', 'form_field23',
       'form_field24', 'form_field25', 'form_field26', 'form_field27',
       'form_field28', 'form_field29', 'form_field30', 'form_field31',
       'form_field32', 'form_field33', 'form_field34', 'form_field35',
       'form_field36', 'form_field37', 'form_field38', 'form_field39',
       'form_field40', 'form_field41', 'form_field42', 'form_field43',
       'form_field44', 'form_field45', 'form_field46', 'form_field47',
       'form_field48', 'form_field49', 'form_field50', 'default_status'],
      dtype='object')

In [10]:
test.columns

Index(['Applicant_ID', 'form_field1', 'form_field2', 'form_field3',
       'form_field4', 'form_field5', 'form_field6', 'form_field7',
       'form_field8', 'form_field9', 'form_field10', 'form_field11',
       'form_field12', 'form_field13', 'form_field14', 'form_field15',
       'form_field16', 'form_field17', 'form_field18', 'form_field19',
       'form_field20', 'form_field21', 'form_field22', 'form_field23',
       'form_field24', 'form_field25', 'form_field26', 'form_field27',
       'form_field28', 'form_field29', 'form_field30', 'form_field31',
       'form_field32', 'form_field33', 'form_field34', 'form_field35',
       'form_field36', 'form_field37', 'form_field38', 'form_field39',
       'form_field40', 'form_field41', 'form_field42', 'form_field43',
       'form_field44', 'form_field45', 'form_field46', 'form_field47',
       'form_field48', 'form_field49', 'form_field50'],
      dtype='object')

In [11]:
train.describe()

        form_field1   form_field2  ...  form_field49  form_field50
count  53471.000000  52156.000000  ...  55645.000000  4.494400e+04
mean    3491.795665      0.550737  ...      1.049061  6.005862e+05
std      188.462426      0.820979  ...      1.806160  5.842405e+06
min     2990.000000      0.000000  ...      0.000000  0.000000e+00
25%     3358.000000      0.070788  ...      0.000000  4.560141e-02
50%     3484.000000      0.267575  ...      0.000000  1.703996e-01
75%     3620.000000      0.719512  ...      1.181754  4.993370e-01
max     3900.000000     18.015050  ...     28.000000  2.307571e+08

[8 rows x 49 columns]

## **DEALING** **WITH** **MISSING** **VALUES**

In [12]:
columns= ('form_field1', 'form_field2', 'form_field3', 'form_field4', 'form_field5', 'form_field6', 'form_field7', 'form_field8', 'form_field9', 'form_field10', 'form_field11', 'form_field12', 'form_field13', 'form_field17', 'form_field15', 'form_field16', 'form_field18', 'form_field19', 'form_field20', 'form_field21', 'form_field22', 'form_field23', 'form_field24', 'form_field25', 'form_field26', 'form_field27', 'form_field28', 'form_field29', 'form_field30', 'form_field31', 'form_field32', 'form_field33', 'form_field34', 'form_field35', 'form_field36', 'form_field37', 'form_field38', 'form_field39', 'form_field40', 'form_field41', 'form_field42', 'form_field43', 'form_field44', 'form_field45', 'form_field46', 'form_field48','form_field49','form_field50')
for cod in columns:
  test[cod]= test[cod].fillna(0)

test.isnull().sum()

Applicant_ID    0
form_field1     0
form_field2     0
form_field3     0
form_field4     0
form_field5     0
form_field6     0
form_field7     0
form_field8     0
form_field9     0
form_field10    0
form_field11    0
form_field12    0
form_field13    0
form_field14    0
form_field15    0
form_field16    0
form_field17    0
form_field18    0
form_field19    0
form_field20    0
form_field21    0
form_field22    0
form_field23    0
form_field24    0
form_field25    0
form_field26    0
form_field27    0
form_field28    0
form_field29    0
form_field30    0
form_field31    0
form_field32    0
form_field33    0
form_field34    0
form_field35    0
form_field36    0
form_field37    0
form_field38    0
form_field39    0
form_field40    0
form_field41    0
form_field42    0
form_field43    0
form_field44    0
form_field45    0
form_field46    0
form_field47    0
form_field48    0
form_field49    0
form_field50    0
dtype: int64

In [13]:
cols= ('form_field1', 'form_field2', 'form_field3', 'form_field4', 'form_field5', 'form_field6', 'form_field7', 'form_field8', 'form_field9', 'form_field10', 'form_field11', 'form_field12', 'form_field13', 'form_field17', 'form_field15', 'form_field16', 'form_field18', 'form_field19', 'form_field20', 'form_field21', 'form_field22', 'form_field23', 'form_field24', 'form_field25', 'form_field26', 'form_field27', 'form_field28', 'form_field29', 'form_field30', 'form_field31', 'form_field32', 'form_field33', 'form_field34', 'form_field35', 'form_field36', 'form_field37', 'form_field38', 'form_field39', 'form_field40', 'form_field41', 'form_field42', 'form_field43', 'form_field44', 'form_field45', 'form_field46', 'form_field48','form_field49','form_field50')
for col in cols:
  train[col]= train[col].fillna(0)

train.isnull().sum()

Applicant_ID      0
form_field1       0
form_field2       0
form_field3       0
form_field4       0
form_field5       0
form_field6       0
form_field7       0
form_field8       0
form_field9       0
form_field10      0
form_field11      0
form_field12      0
form_field13      0
form_field14      0
form_field15      0
form_field16      0
form_field17      0
form_field18      0
form_field19      0
form_field20      0
form_field21      0
form_field22      0
form_field23      0
form_field24      0
form_field25      0
form_field26      0
form_field27      0
form_field28      0
form_field29      0
form_field30      0
form_field31      0
form_field32      0
form_field33      0
form_field34      0
form_field35      0
form_field36      0
form_field37      0
form_field38      0
form_field39      0
form_field40      0
form_field41      0
form_field42      0
form_field43      0
form_field44      0
form_field45      0
form_field46      0
form_field47      0
form_field48      0
form_field49      0
form_field50      0
default_status    0
dtype: int64

In [14]:
train.dtypes

Applicant_ID       object
form_field1       float64
form_field2       float64
form_field3       float64
form_field4       float64
form_field5       float64
form_field6       float64
form_field7       float64
form_field8       float64
form_field9       float64
form_field10      float64
form_field11      float64
form_field12      float64
form_field13      float64
form_field14        int64
form_field15      float64
form_field16      float64
form_field17      float64
form_field18      float64
form_field19      float64
form_field20      float64
form_field21      float64
form_field22      float64
form_field23      float64
form_field24      float64
form_field25      float64
form_field26      float64
form_field27      float64
form_field28      float64
form_field29      float64
form_field30      float64
form_field31      float64
form_field32      float64
form_field33      float64
form_field34      float64
form_field35      float64
form_field36      float64
form_field37      float64
form_field38      float64
form_field39      float64
form_field40      float64
form_field41      float64
form_field42      float64
form_field43      float64
form_field44      float64
form_field45      float64
form_field46      float64
form_field47       object
form_field48      float64
form_field49      float64
form_field50      float64
default_status     object
dtype: object

In [15]:
test.dtypes

Applicant_ID     object
form_field1     float64
form_field2     float64
form_field3     float64
form_field4     float64
form_field5     float64
form_field6     float64
form_field7     float64
form_field8     float64
form_field9     float64
form_field10    float64
form_field11    float64
form_field12    float64
form_field13    float64
form_field14      int64
form_field15    float64
form_field16    float64
form_field17    float64
form_field18    float64
form_field19    float64
form_field20    float64
form_field21    float64
form_field22    float64
form_field23    float64
form_field24    float64
form_field25    float64
form_field26    float64
form_field27    float64
form_field28    float64
form_field29    float64
form_field30    float64
form_field31    float64
form_field32    float64
form_field33    float64
form_field34    float64
form_field35    float64
form_field36    float64
form_field37    float64
form_field38    float64
form_field39    float64
form_field40    float64
form_field41    float64
form_field42    float64
form_field43    float64
form_field44    float64
form_field45    float64
form_field46    float64
form_field47     object
form_field48    float64
form_field49    float64
form_field50    float64
dtype: object

In [16]:
cat= ('form_field47', 'Applicant_ID', 'default_status')
for x in cat:
  le= LabelEncoder()
  train[x]= le.fit_transform(train[x].values)

In [17]:
cats= ('form_field47', 'Applicant_ID')
for y in cats:
  le= LabelEncoder()
  test[y]= le.fit_transform(test[y].values)

## **FEATURE** **ENGINEERING**

In [18]:
train['form_field3233']= (train.form_field32 + train.form_field33) / 2
train.form_field3233

0         530.0000
1        1285.7500
2          35.3333
3         264.9167
4         136.5000
           ...
55995     442.8333
55996     128.3333
55997     127.1667
55998      80.7500
55999     705.4167
Name: form_field3233, Length: 56000, dtype: float64

In [19]:
test['form_field3233']= (test.form_field32 + test.form_field33) / 2
test.form_field3233

0         119.9167
1         617.7500
2           3.9167
3         128.5000
4        1202.3333
           ...
23995      12.1667
23996     300.0833
23997     103.6667
23998      32.3333
23999     829.4167
Name: form_field3233, Length: 24000, dtype: float64

In [20]:
train= train.drop(['form_field32', 'form_field33'], axis=1)
test= test.drop(['form_field32', 'form_field33'], axis= 1)

## **MODELLING**

In [21]:
X= train.drop(['default_status'], axis=1)
y= train['default_status']

In [22]:
train_x, val_x, train_y, val_y= train_test_split(X, y, test_size= 0.3,stratify= y, random_state= 42)

In [23]:
le= LogisticRegression()

rf= RandomForestClassifier(n_estimators=700, random_state=0)
ab= AdaBoostClassifier(n_estimators=900, learning_rate=0.1, random_state= 0)
gb= GradientBoostingClassifier(n_estimators=600,learning_rate=0.1,random_state=0)

In [24]:
le.fit(train_x, train_y)
pred= le.predict(val_x)
print('le:', roc_auc_score(val_y, pred))

le: 0.504654762414801

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [25]:
#rf.fit(train_x, train_y)
#pred= rf.predict(val_x)
#print('rf:', roc_auc_score(val_y, pred))

In [26]:
#ab.fit(train_x, train_y)
#pred= ab.predict(val_x)
#print('ab:', roc_auc_score(val_y, pred))

In [27]:
#gb.fit(train_x, train_y)
#pred= gb.predict(val_x)
#print('gb:', roc_auc_score(val_y, pred))

In [28]:
#from sklearn.model_selection import cross_val_score
#cvg= cross_val_score(gb, X, y, cv= 5)
#print(cvg.mean())

In [29]:
#from sklearn.metrics import accuracy_score
#from sklearn.model_selection import cross_val_score
#error= []
#test_yhat= []
#fold= StratifiedKFold(n_splits= 2)
#i= 1
#for train_ind, test_ind in fold.split(X,y):
  #train_x, val_x= X.iloc[train_ind], X.iloc[train_ind]
  #train_y, val_y = y.iloc[test_ind], y.iloc[test_ind]
                           
  #model= CatBoostClassifier(n_estimators= 3000, eval_metric= 'Accuracy', learning_rate = 0.1, random_seed= 1234, use_best_model= True)
  #model.fit(train_x, train_y, eval_set=[(val_x, val_y)], early_stopping_rounds= 300, verbose=100)
  #preds= model.predict(val_x)           
  #print('err:', accuracy_score(val_y, preds))
  #error.append(accuracy_score(val_y, preds))
  #cvc= cross_val_score(model, X, y, cv= 5)
  #print(cvc.mean())
   
   
  #yhat= model.predict(test)
  #test_yhat.append(yhat)
#np.mean(error)

In [30]:
lgb= LGBMClassifier()
lgb.fit(train_x,train_y)
preds = lgb.predict(val_x)
prob= lgb.predict_proba(val_x)

roc_score = roc_auc_score(val_y, prob[:,1])
cv_score = cross_val_score(lgb,X,y,cv=5).mean()
score = accuracy_score(val_y,preds)

#print(name[0:name.find("(")])
print("Accuracy :", score)
print("CV Score :", cv_score)
print("AUC Score : ", roc_score)
#print(bin_clf_rep)
#print(confusion_matrix(y_test,y_pred))

lgb

Accuracy : 0.8089285714285714
CV Score : 0.7727857142857143
AUC Score :  0.837149467743027

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [31]:
lgbm_params = {"n_estimators" : [100, 200, 500, 1000, 2000],
               "subsample" : [0.6, 0.8, 1.0],
               "learning_rate" : [0.1, 0.01, 0.02, 0.03],
               "min_child_samples" : [5, 10, 20, 30]}

In [32]:
from sklearn.model_selection import GridSearchCV
lgbm_cv_model = GridSearchCV(lgb, 
                             lgbm_params, 
                             cv = 5,
                             verbose = 1,
                             n_jobs = -1)

In [33]:
##lgbm_cv_model.fit(train_x, train_y)

In [34]:
#lgbm_cv_model.best_params_

In [35]:
from sklearn.metrics import classification_report

In [36]:
lgbm_m = LGBMClassifier(learning_rate = 0.01,
                            min_child_samples = 30,
                            n_estimators = 1000,
                            subsample = 0.6)
lgbm_m.fit(train_x,train_y)
y_pred = lgbm_m.predict(val_x)
proba = lgbm_m.predict_proba(val_x)
roc_score = roc_auc_score(val_y, proba[:,1])
cv_score = cross_val_score(lgbm_m,train_x,train_y,cv=5).mean()
score = accuracy_score(val_y,y_pred)
bin_clf_rep = classification_report(val_y,y_pred, zero_division=1)
#print(name[0:name.find("(")])
print("Accuracy :", score)
print("CV Score :", cv_score)
print("AUC Score : ", roc_score)
print(bin_clf_rep)
#print(confusion_matrix(y_test,y_pred))

Accuracy : 0.8106547619047619
CV Score : 0.8080102040816325
AUC Score :  0.8398608673765675
              precision    recall  f1-score   support

           0       0.84      0.93      0.88     12686
           1       0.66      0.46      0.54      4114

    accuracy                           0.81     16800
   macro avg       0.75      0.69      0.71     16800
weighted avg       0.80      0.81      0.80     16800

In [37]:
lgbm_m.fit(X,y)

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.01, max_depth=-1,
               min_child_samples=30, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=1000, n_jobs=-1, num_leaves=31, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=0.6, subsample_for_bin=200000, subsample_freq=0)

In [38]:
test_yhat= lgbm_m.predict_proba(test)[:, 1]

In [39]:
sub= pd.read_csv('/content/drive/My Drive/Bootcamp2020/SampleSubmission.csv')
sub.head()

    Applicant_ID  default_status
0  Apcnt_1000032               1
1  Apcnt_1000048               1
2  Apcnt_1000052               1
3  Apcnt_1000076               1
4  Apcnt_1000080               1

In [40]:
sub.shape

(24000, 2)

In [41]:
sub['default_status'] = test_yhat  
sub

        Applicant_ID  default_status
0      Apcnt_1000032        0.283337
1      Apcnt_1000048        0.311346
2      Apcnt_1000052        0.386617
3      Apcnt_1000076        0.715723
4      Apcnt_1000080        0.136542
...              ...             ...
23995   Apcnt_999940        0.725564
23996   Apcnt_999956        0.301470
23997   Apcnt_999976        0.261286
23998   Apcnt_999984        0.530947
23999   Apcnt_999992        0.178830

[24000 rows x 2 columns]

In [42]:
sub.to_csv('run.csv', index= False)